[2021-11-30 06:47] jameslin101 opened #1 "estimate command requires an ar-keypair-path even with --with-sol flag"
$ arloader estimate "<GLOB>" --with-sol
error: The following required arguments were not provided:
    --ar-keypair-path <AR_KEYPAIR_PATH>

USAGE:
    arloader --ar-keypair-path <AR_KEYPAIR_PATH> --base-url <AR_BASE_URL>

For more information try --help

[2021-11-30 17:12] CalebEverett commented on #1
Thanks for the feedback. I'll see about making the estimate command work without needing either wallet.

[2021-12-05 15:17] joshbenaron opened #2 "Bundlr support"
Hey,

It would be great to provide a Bundlr integration meaning peoples bundles are guaranteed to get on chain. AR and SOL are already supported.

[2021-12-05 16:04] CalebEverett commented on #2
Will do

[2021-12-05 16:27] joshbenaron commented on #2
Yep. SOL is a lot friendlier in that manner.

FYI we lowered the required confirmations on an AR transfer to 20.

If you need any support on the integration. Feel free to message me on Discord.

[2021-12-05 16:47] CalebEverett commented on #2
What's the pricing?

[2021-12-06 16:49] znebby opened #3 "Unable to get any command to work either either sol or ar keypairs"
Version: 0.1.35

Ubuntu WSL on Windows 10.

Upload Command:

./arloader upload "*.png" --log-dir "status/asset/"
error: The following required arguments were not provided:
    --ar-keypair-path <AR_KEYPAIR_PATH>

./arloader upload "*.png" --log-dir "status/asset/" --ar-keypair-path "./arweave-key"
error: Found argument '--ar-keypair-path' which wasn't expected, or isn't valid in this context

[2021-12-06 22:05] CalebEverett commented on #3
Can you try using full paths - it doesn't like the `~`. I will validate for that in a future release. Can you try putting the keypair paths as environment variables? The command line parser may be expecting those as options to precede the subcommands. I will move those out as options so that they can be passed after the subcommands, e.g., estimate, in the next release.

[2021-12-07 01:56] CalebEverett commented on #3
I'm going to close this since it seems like it's a matter of entering the commands in the order the parser expects, but feel free to open back up or add additional/comments questions if you still have trouble getting it going.

[2021-12-07 01:56] #3 closed

[2021-12-07 09:00] znebby opened #4 "Allow setting solana_url"
This would let us use private nodes or chains other than the mainnet

[2021-12-07 09:09] znebby commented on #3
Thanks - I got it to work when putting the options in the correct order and using full paths without the ~.

However, I noticed you pushed out 0.1.36, which is meant to add support for ~ paths, but it's not working for me.

./arloader upload "*.png" --ar-keypair-path ./arweave-key --log-dir "status/asset/" --with-sol --sol-keypair-path "/home/user/.config/solana/id.json"
InsufficientSolFunds

Uplo

[2021-12-07 09:10] znebby opened #5 "Upload command when using --with-sol should not require --ar-keypair-path"
Currently I need to create a dummy ar wallet, even though I'm not using it.

[2021-12-07 10:12] CalebEverett commented on #5
You need an AR wallet to sign your data items so that you own them even
though the bundle transaction they are included in is owned by the service
wallet if you pass `--with-sol`.

On Tue, Dec 7, 2021, 1:10 AM znebby ***@***.***> wrote:

[2021-12-07 10:16] CalebEverett commented on #4
Good point - I've seen a lot of private rpc usage. I can add that in.
Although with the bundled transaction format, there are many fewer
transactions and rate limits shouldn't be a problem.

On Tue, Dec 7, 2021, 1:00 AM znebby ***@***.***> wrote:

[2021-12-07 10:25] CalebEverett commented on #1
https://github.com/CalebEverett/arloader/releases/tag/v0.1.36

[2021-12-07 10:25] #1 closed

[2021-12-07 14:14] znebby commented on #5
OK - I'm not that familiar with how ARWeave works. What does "owning" give you since the files are public and can never be taken down?

Metaplex comes with a tool which allows you to upload to ARWeave without specifying any AR wallet (only SOL).

[2021-12-07 14:36] CalebEverett commented on #5
It doesn't really give you any rights since everything uploaded to Arweave is immutable. It's possible to have arloader use a default wallet, though, as a convenience. I'll see if I can find a way to do that that is transparent. I'd like to keep arloader as decentralized as possible.

[2021-12-09 01:12] CalebEverett commented on #5
For the ui on this, I was planning on adding a flag `--ar-courtesy-wallet` that you could pass if you passed `--with-sol` and `--sol-keypair-path` that would use an included wallet to sign data items so that you didn't have to go get an ar wallet. The other alternative would be to just use the included wallet (again just in the case where you were trying to pay with sol) unless you included with w

[2021-12-09 01:18] CalebEverett commented on #4
Actually, I don't think this really works. Non-main net chains don't work because you need to have actually transferred SOL in order to pay for the signing of the AR transaction, which only has a mainnet, no dev net. Also, the concept of submitting a url to the signing service that it then uses to sign is beyond the scope of the service. Users submit signed, but unsubmitted transactions to the ser

[2021-12-09 01:18] #4 closed

[2021-12-09 01:19] CalebEverett commented on #4
Actually, I don't think this really works. Non-main net chains don't work because you need to have actually transferred SOL in order to pay for the signing of the AR transaction, which only has a mainnet, no dev net. Also, the concept of submitting a url to the signing service that it then uses to sign is beyond the scope of the service. Users submit signed, but unsubmitted transactions to the ser

[2021-12-09 09:02] znebby commented on #4
Actually - it works with Devnet Solana, with the tool in Metaplex. There may be some restrictions on the file-size, but it's good for testing.

[2021-12-09 09:03] CalebEverett commented on #4
I think they are paying actual AR to make that work.

[2021-12-09 09:07] znebby commented on #5
The second option sounds simpler to me. But perhaps I would prefer the first one - if I understood what "owning" data items you upload actually gives you.

[2021-12-09 09:09] CalebEverett commented on #5
I think they key benefit would be that if you ever wanted to search for your files on arweave, you'd be able to do that with that wallet. You could add a tag and search by that as well, though.

[2021-12-09 21:47] CalebEverett commented on #5
https://github.com/CalebEverett/arloader/releases/tag/v0.1.38

[2021-12-09 21:47] #5 closed

[2021-12-09 21:48] CalebEverett commented on #1
You can use sol now without an ar wallet https://github.com/CalebEverett/arloader/releases/tag/v0.1.38

[2021-12-10 09:47] jameslin101 commented on #1
awesome!

[2021-12-17 20:55] CalebEverett commented on #2
I was going to start on bundlr. I looked through your js client and it seems I need to:

1. Provide a way to fund a bundrl account - can this be done with any of the supported currencies?
2. Post data items - upload folder is sequence of data item posts with logging and manifest
3. Withdraw bundlr funds

[2022-01-12 10:18] samuelvanderwaal opened #9 "Incorrect metadata Files Array format"
In `lib.rs` [on line 1629](https://github.com/CalebEverett/arloader/blob/7339ccc0ea736acb404eeb17a46fe473553e55ae/src/lib.rs#L1629) arloader replaces the files array with String values instead of the proper File Attribute object with "uri" and "type" fields.

Like this:
![Selection_574](https://user-images.githubusercontent.com/1684605/149121165-eef2d8b5-e489-4627-b8d2-fff5e0c43512.png)

when the

[2022-01-12 20:20] CalebEverett commented on #9
fixing now

[2022-01-12 23:38] CalebEverett commented on #9
[v0.1.53](https://github.com/CalebEverett/arloader/blob/master/CHANGELOG.md#v0153-2022-01-12) fixes this. Also adds functionality to accommodate NFTs with multiple asset files (i.e., an image and a video).

[2022-01-14 01:31] #9 closed

[2022-01-14 06:55] Jac0xb opened #10 "Bundles never being accepted"
https://explorer.solana.com/address/9Em18kRiGNBA1Rrx8oNBnftKj8dcFXFYyDchXQcKSV5r

`arloader upload \*.mp4 --with-sol --sol-keypair-path ~/.config/solana/devnet.json --ar-default-keypair --bundle-size 50`

[code]

`arloader upload *.webp --with-sol --sol-keypair-path ~/.config/solana/devnet.json --ar-default-keypair --bundle-size 50`

[code]

Am I able to get my SOL back if a transaction is never t

[2022-01-14 12:32] CalebEverett commented on #10
That is likely from reward not high enough. Try `--reward-multiplier 2`. I can send the sol back for the not found ones. Do you want to to post the full list here?

[2022-01-14 22:50] Jac0xb commented on #10
Its fine, it was only a few dollars as a test. It seems odd that you have to use a multiplier.

[2022-01-14 23:05] #10 closed

[2022-01-15 01:26] CalebEverett commented on #10
The [arweave api](https://docs.arweave.org/developers/server/http-api#get-transaction-price) returns the minimum price. The actual price required for miners to accept a transaction is variable, hence the multiplier concept. You can run a test like you did to see whether miners will accept the minimum at the time you are uploading and if not increase from there. It is also possible to have tx rejec

[2022-01-16 00:36] samuelvanderwaal opened #11 "README errors"
From the README:

There are a few grammatical errors and typos highlighted in bold, but more importantly: is this actually correct, or does this command require specifying the file paths for the metadata JSON files? If I specify `assets/*.png` I get `Error: IOError(Error { kind: InvalidData, message: "stream did not contain valid UTF-8" })`. I would expect this command to only operate on `assets/*

[2022-01-16 05:17] CalebEverett commented on #11
I'll get that cleaned up, you are correct - you do have to specify json file paths. I'll see if I can handle the errors better as well.

[2022-01-16 06:29] #11 closed

[2022-01-20 03:19] easeev commented on #10
I have the same issue for a single 6MB file. Tried all multipliers from 2 to 10, always getting `NotFound`

[2022-01-30 20:29] CalebEverett commented on #2
It looks like there is now a rust client for the bundlr network so closing this.

[2022-01-30 20:29] #2 closed

[2022-02-02 04:26] leozc opened #13 "Crash happen when file reach to certain size"
When media file size larger 10MB, it crashed
arloader-0.1.55/src/commands.rs:743:26

[code]

[code]

[2022-02-02 04:48] CalebEverett commented on #13
Try increasing the bundle size to be bigger than your file size.
`--bundle-size 100` will increase it to 100mb.

On Tue, Feb 1, 2022, 8:26 PM Leo Liang ***@***.***> wrote:

[2022-02-02 07:39] leozc commented on #13
That works - may make this become a more helpful error instead of a panic :)

Thanks!

[2022-02-02 11:50] CalebEverett commented on #13
Will do - this actually came up once before as well. I think a bigger default bundle size would be better too. I'm not noticing much, if any, difference in upload speed between the `tx/` endpoint used if 10MB or less and the `chunk/` endpoint used if greater than that.

[2022-02-12 06:07] #13 closed

[2022-02-15 19:10] ozgrakkurt opened #14 "Error doesn't implement Send"
this makes it very hard to use the Arweave since the errors it returns are !Send and that makes the Futures themselves !Send which makes running them in tokio not possible without LocalSet

[2022-02-15 19:23] CalebEverett commented on #14
Can you give me an example of where this happens and the error message so I can try to track down and fix?

[2022-02-15 19:29] ozgrakkurt commented on #14
there is no specific message just the future that calling `Arweave::get_price_terms` produces doesn't implement Send so we can't tokio::spawn it.
![image](https://user-images.githubusercontent.com/91746947/154134743-856f7ef4-4a15-4cc3-bf38-6092de52946b.png)

This is because the Error type doesn't implement Send

[2022-02-15 19:43] CalebEverett commented on #14
Ok, I'll see if I can implement it - thanks.

[2022-02-15 20:45] CalebEverett commented on #14
Let me know if [this](https://github.com/CalebEverett/arloader/blob/master/examples/error_send.rs) works. Master has the update and 1.57 should be on crates.io in 15 minutes or so.

[2022-02-19 15:16] ozgrakkurt commented on #14
thank you it works!

[2022-02-19 15:16] #14 closed

[2022-03-02 22:28] nprodas opened #15 "Insanely high upload time?"
Hey team!

Was not sure where the best place to put this was, but figured it couldn't hurt to have it here in case any other users experience this.

My scenario:
Our project already minted and we want to add an extra attributes field in the metadata to specify the rarity of that NFT. This needs to be done for all 750 NFT's and we can easily update the URI that points to the metadata with something

[2022-03-03 05:38] CalebEverett commented on #15
Feel free to dm me on discord if you want some real time help: @Caleb#9071.

That sounds like a long time, but if it ultimately showed up, it could be a gateway issue. Depending on the size of your files, there are a several different things we could try to get things up there faster.

For starters, make sure you are on the latest version: 0.1.59. That should have a max reward multiplier of 3 and

[2022-03-08 19:01] ozgrakkurt opened #16 "crash when tx status returns internal server error"
currently tx status endpoint on arweave http server returns internal server error and this isn't currently handled in arloader so we get this crash: thread 'tokio-runtime-worker' panicked at 'internal error: entered unreachable code', github.com-1ecc6299db9ec823/arloader-0.1.59/src/lib.rs:1271:18

[2022-03-08 19:06] CalebEverett commented on #16
ok - is the endpoint down, or is it timing out because of too many concurrent requests? I'll take a look and handle the error.

[2022-03-08 19:26] ozgrakkurt commented on #16
we are calling `https://arweave.net/` so it should be up I think. also we aren't making concurrent requests it is only one

[2022-03-08 19:40] enzotar commented on #16
Here is the code used for the call. Also had a question about running tests with Solana Testnet or Devnet: we can only make it work paying with Arweave and not Sol, hence the match in the code below.  Are we doing something wrong?

[code]

[2022-03-08 19:53] CalebEverett commented on #16
ok - I can add an error there that indicates there was a problem with the network.

[2022-03-08 19:59] CalebEverett commented on #16
Hi - yes that is right - the arloader.io endpoint only works with main net. Since there is no Arweave testnet, all the transactions have to be paid for and so real sol has to be used. I usually test with a small number of ar files just on mainnet since the absolute cost of uploads to arweave is low.

[2022-03-08 20:35] CalebEverett commented on #16
@ozgrakkurt Ok, I added an error there that contains the unspecified network status code. Up on master now - v0.1.60 building

[2022-03-08 23:16] nprodas commented on #15
Hey, I sent you a friend request on discord, my user name is @NoRelax#5788

[2022-03-09 00:03] CalebEverett commented on #15
Hi @nprodas I didn't see that in discord, but happy to help. Are you still experiencing delays? I think the arweave gateway was behind today.

[2022-03-09 02:05] ozgrakkurt commented on #16
thanks!

[2022-03-09 02:06] ozgrakkurt commented on #16
@CalebEverett if we execute this code we get  ArweaveTxNotFound error. Is there any reason that can be seen from the code why this would happen?

[2022-03-09 03:17] CalebEverett commented on #16
@ozgrakkurt maybe check to make sure the wallet balance is sufficient - also make sure the reward is high enough. I think if the balance is not high enough, it wouldn't get submitted to arloader.io endpoint, but if the reward is not high enough it will be not found. Also maybe check the id after some time at arweave.net, just to make sure it isn't resulting from a network delay.

[2022-03-09 10:20] paul-hl commented on #15
I also sent you a friend request. If I may, I would like to discuss upload times as well. It seems slow.. thank you

[2022-03-09 10:58] ozgrakkurt commented on #16
thanks!

[2022-03-09 10:58] #16 closed

[2022-03-09 14:14] CalebEverett commented on #15
Hi @paul-hl I didn't get that one either, but what seems to be the trouble? Are you having issues with the time it takes to complete the initial upload of files or time it takes before they are confirmed and/or available?

[2022-03-09 16:52] CalebEverett commented on #15
I think the markdown was getting my discord address with a lower case c instead of upper case.

`@Caleb#9071`

[2022-03-10 16:51] CalebEverett commented on #15
One other suggestion generally is that sometimes it seems the indexing of the bundles can take some time on the network, so if you have only a small number of files to upload, <100 or so, you can pass the `--no-bundle` flag and they will be uploaded as individual transactions, not bundled together. They will then be available without the network having to index any bundles.

[2022-03-10 20:38] paul-hl commented on #15
Thanks for the suggestion. I had arrived to this solution myself as well but I am glad to know why it is quicker (and better in my case).

And I meant that it is so slow not to upload the image itself, but it takes a lot of time before it is actually viewable when using upload-nft.

I just need to upload single images, so no-bundle is a great option for me.

However, I am getting Submitted and aft

[2022-03-10 21:33] CalebEverett commented on #15
@paul-hl  I think the gateway has been having issues with the bundles the last couple of days. I am checking to make sure it is not an arloader issue, but I have been hearing of other people experiencing delays as well. Try starting with 2 on the reward multiplier, sometimes they can get rejected for too much reward. If the SOL was transferred and your arweave tx failed, send me a list of tx and I

[2022-03-10 21:54] paul-hl commented on #15
@CalebEverett thanks.

I tried reward 2, 2.5, still getting NotFound multiple times or sometimes I get SolanaNetworkError.

Do you think using AR token for payment, or alternatively the arbk tool from arweave, is more reliable? I prefer paying in SOL, but..

[2022-03-10 22:05] enzotar opened #17 "What data is passed through Arloader?"
When paying with SOL, we pass https://arloader.io/sol and also a keypair. You also mentioned that if a transaction is failed, you have to manually refund.

1. How do you store the data? I am mainly concerned about keypairs.
2. Do you perform a swap for AR or hold an equivalent in SOL for the transaction?
3. If paying with AR, is it direct with Arweave, or does it also pass through you?
4. Anything

[2022-03-10 22:35] CalebEverett commented on #15
I can try here to see if I am having the same issues.

[2022-03-11 00:28] CalebEverett commented on #15
@paul-hl I was able to upload single transactions ok here with AR. I was having trouble with SOL, which means that the SOL network is taking longer than 10 seconds to finalize transactions. When that happens, you can wait until later or try using AR.

[2022-03-11 00:31] paul-hl commented on #15
@CalebEverett thank you for trying this out.

[2022-03-11 00:54] CalebEverett commented on #15
@paul-hl no worries - let me know if you need a little AR to tide you over - getting it can be a pain.

It can be tough to figure out exactly why transactions aren't going through as fast as they should or at all, unfortunately, given all the moving pieces, especially with paying with SOL. You've got arloader, solana and arweave (which depends on both the gateway for uploading and indexing and the

[2022-03-11 02:05] CalebEverett commented on #17
Hi, sure - totally transparent here and hopefully handled in a way that respects the privacy of your secrets.

1. For AR transactions, arloader doesn't take anything, it just processes the transactions with reward going to the network. There is no place in the code even for an option to do anything like tht.
2. For paying with sol, arloader doesn't send your keys any where. In order to process the

[2022-03-11 03:56] enzotar commented on #17
Thanks for the explanation. I think this summary could be helpful in your
docs.

On Thu, Mar 10, 2022, 6:05 PM Caleb ***@***.***> wrote:

[2022-03-14 00:23] murki opened #18 "Getting StatusCodeNotOk errors after trying to upload with SOL"
Hi, this is my first time using your tool and I've been having issues all day trying to upload a single png/json pair. The operation fails but the SOL **_do get deducted from my wallet_** each time.

The same issues happen both when running `upload` or `upload-nfts`. This is what I'm doing (I'm using `mainnet-beta`):

`arloader upload assets/0.png --sol-keypair-path ~/.config/solana/my_wallet_keyp

[2022-03-14 02:04] CalebEverett commented on #18
Hi, sorry about that. I'm trying to fix it now. Something changed in the gateway in the last day or so as arweave was implementing solutions to some problems it was having. I can let you know as soon as it is fixed. Sorry about the sol tx - refunding is manual right now, but if you send me the list of transactions I can send it back to you.

[2022-03-14 03:30] CalebEverett commented on #18
Hi @murki I tracked this down. Master branch has the change - new release should be available on github and crates.io shortly. I can also send you some ar if you want to retry those transactions with ar instead of sol.

[2022-03-14 12:02] murki commented on #18
Hi @CalebEverett thanks for the quick follow up. I sent you a friend request in Discord so I can send you the tx list. I'll give the update a try later today and let you know how it goes.

[2022-03-14 12:46] murki commented on #18
Fixed by https://github.com/CalebEverett/arloader/commit/c2ebfa40ae022c95cf155ab98b3a3583c9db8dd9

[2022-03-14 12:46] #18 closed

[2022-03-18 10:14] mccode415 opened #19 "NotFound when using multiplier 0 to 3"
bundle txid                                   items      KB  status       confirms
------------------------------------------------------------------------------------
 fkESPupWBD-TVpXaBGJC-ta7--UDjtdiJ-Uap2WMSEo    4000    3173  NotFound            0
Updated 1 statuses.

Is there any work around for this issue or anyway to get the sol back?

[2022-03-18 15:44] CalebEverett commented on #19
Yes, just let me know the sol tx, or the address and I can refund. Did you get any other error messages?

[2022-03-18 15:47] CalebEverett commented on #19
Also can you let me know the number and size of the files you were attempting to upload or paste the command here that didn't work?

[2022-03-18 15:51] CalebEverett commented on #19
This one looks like it is uploaded: https://viewblock.io/arweave/tx/fkESPupWBD-TVpXaBGJC-ta7--UDjtdiJ-Uap2WMSEo.

The gateway is still taking a long time to index the bundles. If you have a smaller number of files you can upload without bundles by passing `--no-bundle` if you are using the `upload` command.

[2022-03-18 19:56] mccode415 commented on #19
arloader upload ./updated/*.json  --with-sol --ar-default-keypair --sol-keypair-path ~/.config/solana/key.json

4000 files all json

[2022-03-18 19:57] mccode415 commented on #19
Hmmm looks like it has a few confirmation is that enough? I tried to create a manifest but none of the urls are working

[2022-03-18 20:01] mccode415 commented on #19
@CalebEverett how are you able to tell the gateway is taking a really long time?

[2022-03-18 21:06] CalebEverett commented on #19
@mccode415 If you look on viewblock https://viewblock.io/arweave/address/7nbOsbMYb86qN1YSS0FM514DBctzJ1Swq1PiuXJEWsk and click on the purple icons, when they have been parsed you will see the files in the bundle when you click on it. Same thing if you query graphql https://arweave.net/graphql, you will see the bundle items once the gateway has parsed it, and just the bundles by themselves when it

[2022-03-18 21:10] CalebEverett commented on #19
Also, I think the manifest files require parsing by the gateway as well - not sure if the backlog on them is the same as for the bundles, but still seems to be taking a while. A couple of days ago, it was like three days back, so if it is between 10 and 20 hours behind now, hopefully that means it should be caught back up soon. Before it went down, it was pretty fast - usually minutes.

[2022-03-18 21:11] CalebEverett commented on #19
And I think the number I got from Arweave discord in terms of numbers of confirmations, was 25 to be virtually certain there won't be a fork that leaves the block with your transaction behind.

[2022-03-18 21:27] mccode415 commented on #19
I see I see so basically, we need to wait for all 4000 files to appear in bundled transaction area before creating a manifest? Or is the current manifest still ok even though the files have not been fully indexed?

[2022-03-18 21:31] CalebEverett commented on #19
Current manifest should be fine. The ids of the items in the bundle are deterministic - it is just a matter of the gateway parsing it so that when you request by those ids, it has the content to be able to serve. If for some reason the bundle doesn't get confirmed or there is a problem with the parsing that meant you needed to reupload, then you would need to create a new manifest. But otherwise,

[2022-03-19 20:02] CalebEverett commented on #19
It looks like these parsed: https://.arweave.net/eYxlhAuT3kDAqLPW1EmNikiN__brY3zXrinUiqvosvo

[2022-03-20 10:33] mccode415 commented on #19
@CalebEverett thanks for keeping with this issue I really appreciate it! Looks like manifest mapping is working too from the link I posted above.

[2022-03-23 18:36] ryansorr1 opened #20 "Trying to upload png/json"
Hi,

Any Ideas what is going on here?

$ ./arloader upload-nfts inc/a/*.* --with-sol --sol-keypair-path wallet.json --ar-default-keypair

Uploading assets...

Uploading 598 files with 249510 KB of data in 3 bundle transactions...

 bundle txid                                   items      KB  status       confirms
------------------------------------------------------------------------------------

[2022-03-23 20:12] CalebEverett commented on #20
maybe the metadata file has an unexpected format - can you post a sample here?

[2022-03-23 20:17] ryansorr1 commented on #20
it works if I only do one, it is a problem when I do large numbers,  ALso I just need to update the description. I don't really need to reupload the images.  Can I just upload *.json and get the format I need for metaboss?

{
    "name": "Citizen #437",
    "symbol": "",
    "description": "Citizens",
    "seller_fee_basis_points": 700,
    "image": "https://arweave.net/mhiN8mYYiaanTBLx6QqJtbKh9RI

[2022-03-23 20:42] CalebEverett commented on #20
Yes

On Wed, Mar 23, 2022, 1:17 PM ryansorr1 ***@***.***> wrote:

[2022-03-23 20:45] ryansorr1 commented on #20
I have tried several times and I it always seems to fail, whether its the above error, solana transaction error or Not found error.  I have tried setting the reward multiplier to max 3.0.

If I just upload the json files I get no error but then nothing gets confirmed always just says NotFound.  So figured it needed the png files too.

Lost

[2022-03-23 20:50] CalebEverett commented on #20
it looks like a bunch of them worked https://arweave.net/12DFCfPSjOSCvtG31eMtZLRsoj3Sad-2vxQmh9zp4xc.

I can jump on discord chat with you at 3pm pacific.

[2022-03-23 20:50] CalebEverett commented on #20
The gateway has been struggling of late, so sometimes the responses are delayed.

[2022-03-23 21:54] CalebEverett commented on #20
Let me know when is good.

[2022-03-23 21:55] ryansorr1 commented on #20
for help? any time?

[2022-03-23 21:58] CalebEverett commented on #20
Ok, can you dm me on discord at Caleb#9071

[2022-03-26 22:18] oliexe opened #22 "Constant issues with uploading nft set - StatusCodeNotOk"
Using upload-nft results in StatusCodeNotOk.

AR tokens get deducted, adding a reward multiplier does not work.
Resulting bundle is crrupted and fails verification.

Any idea what can help ?

I am using the latest build to this date.

[2022-03-27 00:05] CalebEverett commented on #22
Hi, what version are you using?

On Sat, Mar 26, 2022, 3:18 PM oliexe ***@***.***> wrote:

[2022-03-29 03:53] CalebEverett commented on #22
Hi @oliexe , the chunk endpoint changed over the last couple of days. I've removed the trailing slash and it is working again. Let me know if you need any other help.

[2022-03-31 04:37] #19 closed

[2022-03-31 04:37] #15 closed

[2022-03-31 04:37] #17 closed

[2022-03-31 04:37] #20 closed

[2022-03-31 04:38] #22 closed

[2022-04-19 17:37] nickr2001 opened #23 "Transaction for upload-nfts complete, but files inaccessible"
Metadata:
https://viewblock.io/arweave/tx/CYxzfb6gKuU1-KEUAVQUDZTpBOOi8iLcGA71EuOc9jk

Images:
https://viewblock.io/arweave/tx/yeFIaMr8plqwgvW6jQqOm7CQYLXl2HWTf8NfuAtADi8

I used the upload-nfts command to upload a test set of 100 NFTs, but even after several hundred confirmations none of the bundled transactions return anything but the standard 'not found' page on arweave.net.

Here's an example

[2022-04-19 17:47] CalebEverett commented on #23
Hi, I'll take a look - this is usually related to arweave/gateway issues. Apparently there has been a lot of network congestion over the last several days.

[2022-04-19 17:51] nickr2001 commented on #23
Great, thank you for looking into it.

[2022-04-19 18:02] CalebEverett commented on #23
Likely a bundle parsing issue with the gateway. I take from the bundle confirmation and the parsing of the data items evident on viewblock that the bundles have been successfully written to the chain and the fact that they aren't available at the links to the data items to mean there is a problem with the gateway.

Until the gateway issues are resolved, I think you have two options:
1. Upload indi

[2022-04-19 18:38] nickr2001 commented on #23
Interestingly I did try uploading the same batch of images via arkb as a bundle as well and those images are accessible through the gateway. Is there any meaningful difference between how arloader and arkb upload bundles?

bundle transaction sent via arkb:
https://viewblock.io/arweave/tx/KZQEGDwXxmOrvf-GcOMytd6eFYTPGO3oJ2Dd30ren7s

[2022-04-19 18:48] CalebEverett commented on #23
That looks like an individual transaction https://viewblock.io/arweave/address/4XLIblezt71RzecXAnm4BRqbyAaqUN4O9yGO5r-JMo0. As far as bundles, I think arkb has the option of either native or through bundlr. Not sure what the default is. At the end of the day, everybody has to create and upload bundles in the same format. There can be differences in error handling and retry logic and more important

[2022-04-19 20:26] nickr2001 commented on #23
It looks like the initial bundle I sent is working now. Thanks for the clarification!

[2022-04-19 20:26] #23 closed

[2022-04-20 20:12] CalebEverett opened #24 "Add number of items limit to bundle size"
Current work around is to limit the size of the bundle in terms of memory to have less than approx. 500 items (ok to pass a float to --bundle-size if it needs to be less than 1 to get under 500 items per bundle).

[2022-04-20 20:26] ngundotra commented on #22
++ having same issue w 0.1.62

[2022-04-20 21:53] CalebEverett commented on #22
@ngundotra working on a fix - try this in the mean time https://github.com/CalebEverett/arloader/issues/24

[2022-04-20 23:10] CalebEverett commented on #22
@ngundotra this issue seems to have resolved itself. I'm able to upload bundles with as many as 4k items in them successfully. Can you try on your send and see if you are finding the same thing? It may have been a network issue.

[2022-04-20 23:20] ngundotra commented on #22
Yup, fixed itself. Love this tool!!! Thank you for responsiveness as well

[2022-04-26 16:15] Kinglord opened #25 "StatusCodeNotOK - Can't Upload 10k Set - 0.1.62"
Hey there,

Using the 0.1.62 version and I'm unable to finish uploading a 10K set. I've tried 3 times now and got about 30% in on one try, and then about 50% through on the other 2 tries but all of them eventually failed with StatusCodeNotOK. I played with the bundle size each time to see if I could resolve it that way, and the last try I turned bundles off entirely and still had the same issue. I

[2022-04-26 23:47] Kinglord commented on #25
Looks like this is related to arweave network issues, I was closing the script after it had 30 minutes of solid StatusCodeNotOK errors, but in my last attempt I just left it open and after about 1.5 hours of errors it picked back up and completed the upload. Weird, but at least it works, just be super patient and don't close it!

[2022-04-26 23:47] #25 closed

[2022-04-28 05:31] jameslin101 opened #26 "StatusCodeNotOk"
I'm getting StatusCodeNotOk on everything -- is this a network issue? I installed the latest version

$ arloader upload *.json  --ar-keypair-path ~/arweave-keyfile.json --no-bundle
StatusCodeNotOk
StatusCodeNotOk
StatusCodeNotOk
StatusCodeNotOk

without no bundle
$ arloader upload *.json  --ar-keypair-path ~/arweave-keyfile.json

Uploading 4 files with 6 KB of data in 1 bundle transactions...

Sta

[2022-04-29 03:28] jameslin101 commented on #26
nevermind it must have been an arweave issue, resolved itself the next day

[2022-04-29 03:28] #26 closed

[2022-05-04 13:17] unimintco commented on #18
I'm using `arloader 0.1.62` on a Mac (binary downloaded from GH) and I get the same error. StatusNotOk and empty folders while sol gets deducted.

[2022-05-04 14:17] CalebEverett commented on #18
I can refund the sol or send you some ar. StarusNotOk indicates an Arweave
or gateway issue, unfortunately.

On Wed, May 4, 2022, 6:17 AM Uni ***@***.***> wrote:

[2022-05-04 14:22] unimintco commented on #18
Don't worry about it, it's a pretty low amount (about 4 minimal transactions).
Then I guess we just wait?

[2022-05-04 14:30] CalebEverett commented on #18
yes, but let me try on my end here and send me your ar wallet address so I
can send you some ar to keep trying with. If you keep trying with ar and
the tx don't go through it won't get deducted.

On Wed, May 4, 2022 at 7:22 AM Uni ***@***.***> wrote:

[2022-05-11 16:21] iupii opened #27 "Rust nightly toolchain"
As I can see there is only on feature from nightly — #![feature(derive_default_enum)], to derive default trait for status.
But with that it's not possible to use this crate as lib in stable toolchain.

[2022-05-11 23:08] CalebEverett commented on #27
Hi, I'll take a look and see why I had that in there and if it is possible to remove.

[2022-05-11 23:26] CalebEverett commented on #27
It looks like this feature will be supported very soon. I'll keep track of this a change to stable toolchain as soon as it lands.

https://github.com/rust-lang/rust/issues/87517#issuecomment-1090848732

[2022-05-12 01:04] CalebEverett commented on #27
That was only used in one place. I changed it out and published a new release that works with the stable tool chain. https://github.com/CalebEverett/arloader/releases/tag/v0.1.63

[2022-05-14 16:43] reidelkins opened #28 "StatusNotOK"
When uploading with sol, I am continuously having an issue of StatusNotOK. I looked back through all the issues where some say its an Arweave network issue, some say its a Solana network issue, and then some say update the arloader version. I've been trying to upload this set for 3 days and haven't had any luck. Does anyone have a known solution or is it really just wait and be patient? Also, for

[2022-05-14 20:28] CalebEverett commented on #28
hi @reidMHAC let me take a look and see if there is anything to be done. There is a `re-upload` command that will re-upload. If you have failed transactions with sol I can send you some AR so you can retry if you give me your address.

[2022-05-15 00:52] reidelkins commented on #28
@CalebEverett do you have a sol address so I can exchange with you? Definitely don't want you to just pay for me when I'm already using a tool that you built for free! I tried to make a binance account to purchase some AR that way but looks like it isn't available where I'm at.

I'll definitely have to explore the reupload command especially how it works with the upload-nfts and the whole png/json

[2022-05-15 14:19] CalebEverett commented on #28
hi @reidMHAC - is it still giving you problems? I was thinking that if you had wasted sol because of failed tx, I could effectively refund you in AR.

[2022-05-21 17:58] adityamatt opened #29 "error: Invalid value for '<FILE_PATHS>...': Path does not exist."
![image](https://user-images.githubusercontent.com/33998232/169663692-77083236-e4ce-4429-a431-4ca617bbe63a.png)

Its not recognizing the regex in path which based on documentation should work.

There are json files in the current folder.

[2022-05-22 11:09] CalebEverett commented on #29
Sorry, it doesn't do windows very well. Can you use wsl2?

[2022-05-23 16:49] adityamatt commented on #29
Thanks for replying.

I switched to [arweave](https://www.npmjs.com/package/arweave#get-an-address-balance) to upload programatically with node

Maybe this can be a future improvement if this project is being maintained

[2022-05-23 17:25] #29 closed, assigned to nobody

[2022-06-09 16:44] #27 closed, assigned to nobody

[2022-06-12 15:50] dmichael commented on #28
`arloader` was working fine last night, but is only returning `StatusNotOk` for me today. Curious if anyone has identified the root cause. It appears that the SOL tx are going through (balance decreasing) so I wonder if this is an issue with Arweave

[2022-06-12 15:56] CalebEverett commented on #28
Hi - sorry about that - I can send you some AR to cover the failed sol transactions - let me know your arweave address. I need to handle the errors there better. Will see about a solution in the next release.

[2022-06-12 16:04] BisonDee commented on #28
Thanks for the offer but it's all good. The cost is so low at the moment I probably spent like .50 on it. Well worth the try.

I was using SOL as payment - should I retry using AR?

[2022-06-12 16:26] CalebEverett commented on #28
Right now the sol tx goes through and then doesn't revert if the arweave one fails. If you use AR then if the tx fails, no AR is deducted. Getting AR is a pain - happy to send you some for your testing.

[2022-06-12 17:43] dmichael commented on #28
Would appreciate the AR - it is truly a pain to get ahold of :).
`88eVqtYmuD_0q1vdAuJbgoaddwrbLK0gjSl-6WbKc34`

Would send an equivalent in SOL

[2022-06-12 17:48] dmichael commented on #28
I may have found something. The file I was experimenting (and was failing) with was 220k. I just tried it again with a file that is 3.5M and it worked. This could simply be an issue with the size of the tx being unprofitable and getting rejected - just need to bubble up the specific error.

[2022-06-12 18:37] dmichael commented on #28
For these transactions I added a `--reward-multiplier 5.0` to bring the tx value to ~0.005$ and the tx went through

[2022-06-13 13:40] CalebEverett commented on #28
What version are you using? I think adding the response that comes back from arweave when status is not OK would be a big help here. It is s a combination of status code in some cases, but also there is a sometimes a response in the body indicating too cheap or too expensive that would provide more information on what the issue is.

[2022-06-15 08:33] byteamaze commented on #28
Same error, retried several times, pay with AR and --reward-multiplier 5, data size is 1M.

[2022-06-16 04:01] rm-rf-robert opened #30 "what am i doing wrong?"
[code]

what could I be doing wrong?

[2022-06-16 04:22] rm-rf-robert commented on #30
I have solana balance, and i have two files in the dir

0.gif
0.json

[2022-06-16 04:24] CalebEverett commented on #30
Try a higher reward multiplier and/or a bigger bundle, i.e. more files to get the reward higher

[2022-06-16 04:25] CalebEverett commented on #30
Actually are you on wsl2 ?

[2022-06-16 04:34] rm-rf-robert commented on #30
![image](https://user-images.githubusercontent.com/67438520/173991991-3689c395-9128-4232-8fbc-cba409c45938.png)

yea

[2022-06-16 04:39] CalebEverett commented on #30
This might not be it, but can you move the Linux binary into wsl and call from there instead of windows dir?

[2022-06-16 04:43] rm-rf-robert commented on #30
![image](https://user-images.githubusercontent.com/67438520/173992860-3a273abe-4147-430c-973a-5fe2ea409307.png)

Ok will try that, also just wanted to point out the log lines:

[code]

Not sure if that gives hint towards the issue, but also ill give what you mentioned a try

[2022-06-16 04:44] CalebEverett commented on #30
Ok try the higher reward multiplier too

[2022-06-16 04:45] CalebEverett commented on #30
The solana retry will retry 10 times. It timed out if not confirem in I think 5 seconds, but then tries again. Up to 10 times.

[2022-06-16 05:26] rm-rf-robert commented on #30
[code]

does this look right for a json?

this goes along with the 0.gif file, but could it be the json syntax? it used to work for me months ago, but maybe I messed something up this time

[2022-06-16 08:07] byteamaze commented on #28
Add a large file(~5M), it worked again, strange...

[2022-06-16 12:14] dmichael opened #31 "get-status JSON output panics"
* Installed through cargo on macOS.
* Attempting to get status of a tx with JSON output panics
* This tx is pending at the time
[code]

[2022-06-16 12:17] CalebEverett commented on #30
There are some examples  files here you could use. https://github.com/CalebEverett/arloader/tree/master/tests/fixtures

[2022-06-16 12:26] CalebEverett commented on #31
I'll check this, sorry about the panic. Can you try moving the output flag to right after arloader?

[2022-06-16 13:09] dmichael commented on #31
Same
[code]

[2022-07-07 23:28] Sikevka commented on #28
It always gives trouble for a few hours and then it works fine again. But no one here has given the full error message: StatusCodeNotOk
<FILE_PATHS> didn't match any files. He can't find the files in the folder for a few hours and then suddenly he can, he probably has weak glasses. :-)
arloader 0.1.63
Ubuntu 22.04 LTS

[2022-08-19 02:16] ViktorKirjanov opened #32 "StatusNotOK"
Hi.
i need to upload an json file to arweave with rust(im using arloader = "0.1.63"). but i got a StatusCodeNotOk error.

it makes empty folder (ex: SZ2g5l-q7M4) and after an error the folder is deleted by itself.

Also it takes fee, even with error StatusCodeNotOk:

[https://explorer.solana.com/tx/5YDUWr4s8RE52LKivnCBjWqGXM1YN1mBK1rLvj3Yq9NJZ5t5ASofnvFWBouWvg167UQdEwkVbEt9xFnEYTWA4J6](https://exp

[2022-08-22 12:34] rosmcmahon commented on #32
@CalebEverett

[2022-08-22 15:20] CalebEverett commented on #32
HI Ros, I'll check this out today.

On Mon, Aug 22, 2022 at 5:34 AM Ros Mc Mahon ***@***.***>
wrote:

[2022-08-23 21:07] erikiado commented on #32
hi @CalebEverett thanks for the package :),
 i'm also getting this error

trying to execute this cmd:
`arloader upload ceremonio_dj_001.png --with-sol --sol-keypair-path ~/code/dapps/realidad/nft-meta/CRMiUZVfwiw7PB6MSpiVEja6wC6o6ombPJLzdwRn6y4C.json --ar-default-keypair --no-bundle`

after a while the fee is sent but an error is returned:
[code]

any idea what is going on?

[2022-08-23 21:09] CalebEverett commented on #32
Working on a fix

On Tue, Aug 23, 2022, 2:08 PM erikiado ***@***.***> wrote:

[2022-08-23 21:57] erikiado commented on #32
just tried and it worked, thanks :)

[2022-09-19 13:37] ghost opened #33 "Cannot create w2w transaction"
I'm trying to create an data-empty transaction with target and quantity other than 0, a wallet 2 wallet transaction. Is this even supported? Is there a way of doing this?

Here is my attempt:

[code]

Apparently, the merkle generated when the target is present and quantity is different from zero is not being generated correctly.

[2022-10-06 07:50] snowplowtach commented on #32
hey @CalebEverett!
Thanks for this CLI. I managed to upload multiple times without any issue, but for two days now it fails.
When using `upload-nfts` I get:
[code]

and when using `upload`

[code]
all commands are executed with `--with-sol` and both bundle and no bundle fail.
Do you have an idea of the issue?

[2022-11-08 00:34] HZfive commented on #30
hi @CalebEverett
`arloader estimate *.json -r 20`
`error: Invalid value for '--reward-multiplier <REWARD_MULT>': Multiplier must be a float between 0 and 3.`
`arloader 0.1.63`

examples:
`arloader estimate *.json -r 10`
`The price to upload 999 files with 946017 total bytes in 1 transaction(s) is 2019429120 winstons ($0.0274).`
`arloader upload *.json -r 10  --ar-keypair-path ~/xxx/SO7gY80bAH8f_os